.myButton {
    overflow: hidden;
  }
  
  .myButton span {
    position: absolute;
    background-color: #1E3660;
  }
  
  .myButton span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 10px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
    border-top-left-radius: 8px;
  }
  
  .myButton:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s;
  }
  
  .myButton span:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
    border-top-left-radius: 8px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
    transition-delay: 0.25s;
  }
  
  .myButton:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    border-top-right-radius: 8px;
    transition: transform 0.25s;
    transition-delay: 0.25s;
  }
  
  .myButton span:nth-child(3) {
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    border-top-right-radius: 8px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s;
    transition-delay: 0.5s;
  }
  
  .myButton:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.25s;
    transition-delay: 0.5s;
    border-bottom-right-radius: 8px;
  }
  
  .myButton span:nth-child(4) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    border-top-left-radius: 8px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
    transition-delay: 0.75s;
  }
  
  .myButton:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: right;
    border-bottom-right-radius: 8px;
    transition: transform 0.25s;
    transition-delay: 0.75s;
  }
  